/*
 * SPDX-FileCopyrightText: 2023 froggie <incoming@frogg.ie>
 *
 * SPDX-License-Identifier: OSL-3.0
 */

:root {
    --tr-default-primary: #3d9991;
    --tr-default-primary-text: #ffffff;
    --tr-default-primary-shadow: 0 0 2px #96dbfc;
    --tr-default-primary-background: #1f1f1f;
    --tr-default-alt-text: #ccc;
    --tr-default-alt-darker-text: #666;
    --tr-default-message-error: #a83232;
}

.--tr-muted-text {
    color: var(--tr-default-alt-darker-text);
}

.--tr-header-h1 {
    font-weight: normal;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.75em;
}

/* override for desktop browsers */
@media only screen and (min-width: 680px) {
    .--tr-header-h1 {
        font-weight: normal;
        font-size: 2em;
    }
}
