/*
 * SPDX-FileCopyrightText: 2023 froggie <legal@frogg.ie>
 *
 * SPDX-License-Identifier: OSL-3.0
 */

:root {
    --tr-accent-lighter: #60d0c6;
    --tr-accent: #3d9991;
    --tr-accent-darker: #33847b;
    --tr-text: #fff;
    --tr-text-shadow: 0 0 2px #96dbfc;
    --tr-background: #1f1f1f;
    --tr-background-raised-light: #fbfbfb;
    --tr-background-raised: #f6f6f6;
    --tr-background-raised-dark: #eee;
    --tr-border: hsla(0, 0%, 66.7%, .35);
    --tr-text-alt-light: #ccc;
    --tr-text-alt: #666;
    --tr-text-alt-dark: #333;
    --tr-text-accent: #8a8a8a;
    --tr-error-lighter: #fda5a5;
    --tr-error: #c74343;
    --tr-error-darker: #a83232;
}

.--tr-muted-text {
    color: var(--tr-text-alt);
}

.--tr-link {
    color: var(--tr-accent-darker);
    text-decoration: none;
}

.--tr-link:visited {
    color: var(--tr-accent-darker);
}

.--tr-link:hover {
    color: var(--tr-accent-lighter)
}

.--tr-link-muted {
    color: var(--tr-text-alt);
    text-decoration: none;
}

.--tr-link-muted:visited {
    color: var(--tr-text-alt);
}

.--tr-link-muted:hover {
    color: var(--tr-text-alt-dark);
}

.--tr-link-red {
    color: var(--tr-error);
    text-decoration: none;
}

.--tr-link-red:visited {
    color: var(--tr-error);
}

.--tr-link-red:hover {
    color: var(--tr-error-lighter);
}

.--tr-header-h1 {
    font-weight: normal;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.75em;
}

/* override for desktop browsers */
@media only screen and (min-width: 680px) {
    .--tr-header-h1 {
        font-weight: normal;
        font-size: 2em;
    }
}
