/*
 * SPDX-FileCopyrightText: 2023 froggie <legal@frogg.ie>
 *
 * SPDX-License-Identifier: OSL-3.0
 */

@font-face {
    font-family: text-security-disc;
    src: url("@/assets/font/text-security-disc-compat.woff2") format("woff2"),
    url("@/assets/font/text-security-disc-compat.ttf") format("truetype");
}

/*
  Browser detection hack to enable the optimized font in recent versions of Chromium and FF,
  which implement their own font rendering and do support cmap format 13.
  content-visibility is currently only supported in Chrome & Edge version 85+ & Chrome for Android
  -moz-appearance only lets Firefox through
  -webkit-hyphens explicitly excludes Safari in case they later add support for content-visibility
*/
@supports ((content-visibility: visible) or (-moz-appearance:meter)) and (not (-webkit-hyphens: none)) {
    @font-face {
        font-family: text-security-disc;
        src: url("@/assets/font/text-security-disc.woff2") format("woff2"),
        url("@/assets/font/text-security-disc-compat.ttf") format("truetype");
    }
}

[data-type="submit"] .formkit-input-hidden {
    display: none;
}

[data-type="submit"] .formkit-input {
    background: var(--tr-accent);
}

[data-type="submit"] .formkit-input:hover {
    background: var(--tr-accent);
    filter: brightness(75%);
}

.formkit-label, .formkit-help {
    text-align: left;
}

.formkit-input#password::placeholder {
    font-family: text-security-disc, sans-serif !important;
    -webkit-text-security: disc !important;
}

.DefaultView__form, .DefaultView__form_wide {
    max-width: 25em;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
}

/* override DefaultView__form_wide for desktop browsers */
@media only screen and (min-width: 680px) {
    .DefaultView__form_wide {
        max-width: 75vw;
        margin: auto;
        text-align: left;
    }

    .formkit-outer[data-type="multi-step"] > .formkit-wrapper-wide,
    .formkit-wrapper-wide {
        max-width: 75vw;
    }
}

/* override DefaultView__form_wide for wide monitors */
@media only screen and (min-width: 1950px) {
    .DefaultView__form_wide {
        max-width: 50vw;
        margin: auto;
        text-align: left;
    }

    .formkit-outer[data-type="multi-step"] > .formkit-wrapper-wide,
    .formkit-wrapper-wide {
        max-width: 50vw;
    }
}

.formkit-outer-narrow {
    max-width: 25em;
}

.formkit-outer-hidden {
    display: none;
}

.DefaultView__inline_box {
    text-align: center;
    justify-content: center;
}

.DefaultView__inline {
    display: flex;
}
