@font-face {
    font-family: text-security-disc;
    src: url("@/assets/font/text-security-disc.woff");
}

[data-type="submit"] .formkit-input {
    background: var(--tr-default-primary);
}

[data-type="submit"] .formkit-input:hover {
    background: var(--tr-default-primary);
    filter: brightness(75%);
}

.formkit-label, .formkit-help {
    text-align: left;
}

.formkit-input#password::placeholder {
    font-family: text-security-disc, sans-serif !important;
    -webkit-text-security: disc !important;
}

.DefaultView__form {
    max-width: 25em;
    margin: auto;
    text-align: left;
}
