/*
 * SPDX-FileCopyrightText: 2023 froggie <incoming@frogg.ie>
 *
 * SPDX-License-Identifier: OSL-3.0
 */

.DefaultView__message {
    max-width: 25em;
    margin: auto;
    color: var(--tr-default-primary-text);
    background: var(--tr-default-message-error);
    border-radius: 0.5em;
    display: none;
}

.DefaultView__message_text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 0.6em;
    line-height: 1.3em;
    margin-bottom: 15px;
}
